/* .main{
    margin-left:5rem;
    padding: 1rem;
    height: 200vh;
    display: flex;
    flex-direction: column;
}

.bars{
    height: 100vh !important;
}

.divider{
    display: flex !important;
    
}

:root{
    font-size: 16px;
    
  }
  
  body{
    margin: 0;
    padding:0;
  } */